package com.pear.threekingdom;

import java.util.ArrayList;

import android.graphics.Bitmap;
import android.support.v7.app.AppCompatActivity;
import android.os.Bundle;
import com.pear.threekingdom.db.DbManager;
import com.pear.threekingdom.entity.Hero;

public class MainActivity extends AppCompatActivity {
  private DbManager db;

  @Override
  protected void onCreate(Bundle savedInstanceState) {
    super.onCreate(savedInstanceState);
    setContentView(R.layout.activity_main);
    db = new DbManager(this);

    Bitmap.Config conf = Bitmap.Config.ARGB_8888;
    Bitmap img = Bitmap.createBitmap(100, 100, conf);

    Hero hero1 = new Hero("吕布", "吕奉先", img, "男", "161", "198",
            "五原郡九原县（今内蒙古包头）", "董卓",
            "诛杀董卓，击破张燕，大败袁术");
    ArrayList<Hero> allHeroes = db.queryAllHeroes();
    db.addOneHero(hero1);
    allHeroes = db.queryAllHeroes();

    Hero mHero = db.queryHeroesByName("吕布").get(0);
    mHero.name = "吕剪刀";

    db.updateOneHero(mHero.hero_id, mHero);
    allHeroes = db.queryAllHeroes();

    int insertId = db.addOneHero(hero1);
    allHeroes = db.queryAllHeroes();
    db.deleteOneHero(insertId);
    allHeroes = db.queryAllHeroes();

    insertId = db.addOneHero(hero1);
    allHeroes = db.queryAllHeroes();
    int[] toDelIds = { insertId, mHero.hero_id };
    db.deleteHeroes(toDelIds);
    allHeroes = db.queryAllHeroes();

    db.closeDb();
  }
}
